.contactSection {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
}

.contactInfo {
   min-width: max-content;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.contactInfoWrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
}

.IconWrapper {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   background: #3edac6;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contactSectionForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   gap: 1rem;
}

.errMsg {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 2rem;
   text-align: center;
   font-size: smaller;
   background: #b9b9b9;
   color: red;
   border-radius: 0.2rem;
   margin-top: 1rem;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.offscreen {
   display: none;
}

.form {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 1rem;
}

.formUpperElement {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   width: 100%;
   justify-content: space-between;
}
/* Name */
.formUpperElementName {
   width: 50%;
   position: relative;
}

.formUpperElementNameField {
   width: 100%;
}

.fieldNameDescription {
   color: rgba(128, 128, 128, 0.573);
   font-size: smaller;
   position: absolute;
   right: 0.3rem;
   bottom: 0.2rem;
}
/* Email */
.formUpperElementEmail {
   width: 50%;
   position: relative;
}

.formUpperElementEmailField {
   width: 100%;
}

.fieldEmailDescription {
   color: rgba(128, 128, 128, 0.573);
   font-size: smaller;
   position: absolute;
   right: 0.4rem;
   bottom: 0.2rem;
}
/* Message */
.formUpperElementMsg {
   position: relative;
}

.formUpperElementMsgField {
   width: 100%;
}

.fieldMsgDescription {
   color: rgba(128, 128, 128, 0.573);
   font-size: smaller;
   position: absolute;
   right: 0.4rem;
   bottom: 0.2rem;
}

.submitButton {
   width: 15rem;
   align-self: flex-end;
}

@media screen and (min-width: 920px) {
   .contactSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }

   .contactInfo {
      width: 35vw;
   }
}
