.main_contact_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 135px;
    margin-bottom: 40px;

}

.contact_info_container{
    width: 25%;
    border: solid green 1px;
}


.contact_container{
    width: 60%;
    max-width: 1700px;
    display: flex;

    
}

.info_line{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 15px;
}

.icon{
    width: 55px;
    height: 50px;
    border-radius: 50%;
    
}
.picto{
    width: 100%;
}

.info_text{
    margin-left: 20px;
    width: 200px;
}


@media (max-width: 414px){

    .main_contact_container{
        flex-direction: column-reverse;
        
    }

    .contact_info_container{
        width: 55%;
        margin-top: 40px;
        
    }

    .info_line{
        flex-direction: column;
    }

}