$input_border_color :  #394449;
$input_focus_border_color :  #3edac6 ;
$submit_button :  #3edac6 ;

.form_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: solid green 3px;
    margin-bottom: 20px;
}

.input{
    
    width: 400px;
    height: 20px;
    border: solid $input_border_color 1px;
    padding: 10px;
    &:focus{
        border: solid $input_focus_border_color 1px;
    }
}

textarea{
    width: 99.5%;
    margin-bottom: 10px;
    border: solid $input_border_color 1px;
}

.submit{
    background-color: $submit_button;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
    font-weight : bold;
    width: 180px;
    height: 40px;
    transition: all ease 0.4s;
    &:hover{
        background-color: #90D7BF;
    }
}