.header{
    position: relative;
    display: inline-block;
    top: 55px;
    margin-bottom: 60px;
   
}

.background{
    display: block;
    width: 100%;
   
}

.text_header_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
   
}

.header_intro{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
    text-shadow: rgba(0, 0, 0, 0.13) 1px 0 10px;
}

