$text_primary_color : #000000 ;
$text_secondary_color : #3edac6 ;

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.introduction_main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1700px;
}

.introduction_sub_container{
    margin-top: 30px;
    width: 25%;
}

.number{
    position: absolute;
    color: $text_secondary_color;
    opacity: 0.15;
    font-size: 7rem;
    margin-top: 0;

}

.column_name{
    font-size: 3.5rem;
    color: $text_secondary_color;
    text-align: center;
}

.explication{
    text-align: center;
}

@media(max-width: 414px){
    .introduction_main_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introduction_sub_container{
        margin-top: 30px;
        width: 70%;
    }

    .column_name{
        font-size: 2.5rem;
        margin-top: 50px;
    }
}