.card_container{
    width: 40%;
    border: solid green 1px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

.card{
    width: 70%;
    height: 390px;

}



