.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}


.logo {
    width: 40%;
    border: solid 2px red;
  }

  .container_link_menu {
      width: 60%;
      border: solid 2px green;
  }

  .link_menu{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    height: 100%;
  
  }

  .link{

    display: inline;

  }