$text_primary_color : #000000 ;
$text_secondary_color : #3edac6 ;
$nav-color: white;

@mixin flex($direction, $justify){

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;

}

.top_nav{

  width: 100%;
  height: 30px;
  background-color: #272C31;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
}

.top_nav_contact{
  width: 50%;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact_indicator{
  color: $text_secondary_color;
  
}

.top_nav_sns{

  width: 20%;
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

.sns{

  width: 20px;
  margin: 0 15px 0 15px;
}

.nav{

    @include flex(row, space-between);
    z-index: 2;
    position: fixed;
    top: 30px;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);
    background-color: $nav-color;

}


.logo {
    width: 35%;
    display: flex;
    justify-content: center;
  }

.logo_img{
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;

}

  .container_link_menu {
      width: 55%;
  
  }

  .nav_link_list{

    @include flex(row, space-between);
    align-items: center;
    list-style: none;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;

  
  }

  .nav_link{

    display: inline;

  }

  .link{
    text-decoration: none;
    padding : 8px;
    color: $text_primary_color;
    transition: all ease 0.3s;
    cursor: pointer;
    &:hover {
      color: $text_secondary_color;
    }
  }

  @media (max-width: 414px){

    .container_link_menu{
      display: none;
    }

    .logo{
      width: 100%;
    }

    .top_nav{
      display: none;
    }

    .nav{
      top: 0;
    }
  }



 
  @media (max-width: 1335px){

    .link{
      font-size: 0.9rem;
    }




  }