.references_container{

    margin-top: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: solid red 3px;
    margin-bottom: 50px;
    
}

.line_references{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;

}

.ref_img{
   width: 16%;
   margin: 15px 50px 15px 50px;
   border: solid green 3px;
    
    transition: all ease 0.5s ;
    &:hover{
        filter: none;
        
    }
}