.techno_container{

    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    
    
}

.line_techno{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    

}

.techno_img{
    width: 80px;
    margin: 15px 55px 15px 55px;
    filter : grayscale(1);
    transition: all ease 0.5s ;
    &:hover{
        filter: none;
        
    }
}

@media(max-width: 414px){

    .line_techno{
        justify-content: space-around;
    }

    .techno_img{
        width: 50px;
        margin: 15px 15px 15px 15px;
        filter: none;
    }
}