$background_card_color : #EFF0F1;
$text_main_color : #394449;
$text_secondary_color : #3edac6 ;



.card_container{
    width: 40%;
    // border: solid green 1px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

.card{
    width: 80%;
    height: 480px;
    background-color: $background_card_color;
    position: relative;
//    border: solid purple 2px;
}

.job_img{
    width: 100%;
}

.text_container{
    padding-left: 15px;
    padding-right: 15px;
    // border: solid blue 2px;
}

.job_title{

    font-weight: 700;
    color: $text_main_color;
    
}

.job_button{

    display: block;
    width: 100%;
    bottom: 15px;
    font-weight: 800;
    font-size: 1.05rem;
    color: $text_secondary_color;
    text-decoration: none;
    // border: solid red 1px;
    text-align: center;
    position: absolute;
}


@media (max-width: 959px){

    .job_description{
       font-size: 0.9rem;
    }
    
    .card{
        height: 500px;
    }
}