.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 64px;
}

.allServices {
   display: flex;
   justify-content: center;
   gap: 25px;
}

@media screen and (max-width: 1000px) {
   .allServices {
      flex-direction: column;
      width: 100%;
   }
}

@media screen and (max-width: 620px) {
   .container {
      padding: 0 10px;
   }
}
