.navContainer {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    z-index: 2;
}

.navTop {
    display: none;
    width: 100%;
    padding: 0.7rem 3rem;
    background-color: #272c31;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color)
}

.navTopLeft {
    display: flex;
    gap: 3rem;
}

.navTopLeftContact {
    display: flex;
    align-items: flex-end;;
    gap: 0.5rem;
}

.navTopLeftContact:hover {
    text-decoration: underline;
}

.navTopRight {
    display: flex;
    gap: 1.5rem;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem 0;
    color: black;
    width: 100%;
    box-shadow: 0 4px 5px 0 #ccc;
}

.navBottomRight {
    display: none;
}

.navBottomRightLink:focus .navBottomRightButton {
    color: white;
}

.navBottomRightButton {
    color: black;
}
/* .navBottomRightButton:active {
    color: white;
} */

.navButton {
    color: black;
}
.navButtonFocused {
    color: white
}

@media screen and (min-width:620px){
    .navTop{
        display: flex;
    }
}

@media screen and (min-width:900px){
    .navBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 3rem;
        width: 100%;
    }
    .navBottomRight {
        display: flex;
    }
}




